body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #111;
}

.menu {
    background: linear-gradient(to bottom, #000000, #001f3f);
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    background: #1a1a1a;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
    border: 2px solid #007bff;
    display: inline-block;
}

.menu a:hover {
    background-color: #007bff;
    color: #fff;
}

.conteudo {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.conteudo h2 {
    color: #001f3f;
    border-bottom: 2px solid #001f3f;
    padding-bottom: 10px;
}

.conteudo ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
}

footer.rodape {
    background-color: #001f3f;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 14px;
}

.receita-destaque {
    margin-top: 40px;
    border-top: 2px solid #001f3f;
    padding-top: 20px;
}

.receita-destaque h3 {
    color: #001f3f;
    font-size: 22px;
    margin-bottom: 10px;
}

.imagem-receita {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.video-receita {
    text-align: center;
    margin-top: 20px;
}

.video-receita iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

